{% extends "base.html.twig" %}

{% block title %}Task Project{% endblock %}

{% block body %}
    <h1>Lista de Tarefas</h1>

    <form>
        <label>Insira a tarefa: </label>
        <input type="text" />
    </form>
{% endblock %}