{% extends "base.html.twig" %}

{% block title %}Task Project{% endblock %}

{% block body %}
    <h1>Lista de Tarefas</h1>

    <div class="card" style="width: 22rem;">
        <div class="card-body">
            <form method="POST" action="/task">
                <div class="">
                    <label for="task" class="card-subtitle">Insira a tarefa: </label>
                    <input type="text" name="task" class="form-control" />
                </div>
                <div class="mt-2">
                    <input type="submit" class="btn btn-primary" />
                </div>
            </form>
            {#
            {% if condition %}

            {% endif %}
            #}
        </div>
    </div>
{% endblock %}